* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1 {
  color: blueviolet;
  font-size: 72px;
  font-weight: bold;
}
